@use './datatable';
@use './form';
@use './tiptap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --v-font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
}

body {
    margin: 0;
    background: #f5f6f8;
}

.text-body-2,
.text-body-1,
.text-subtitle-1,
.text-subtitle-2,
.text-caption,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
    font-family: 'Poppins', sans-serif !important;
}

.v-navigation-drawer {
    border-right: 0;

    #side-nav-items .v-list-item-title {
        font-size: 0.875rem !important;
        font-weight: 500 !important;
    }

    .v-list {
        padding: 0 10px;
    }

    .v-list-item__prepend {
        width: 40px;
    }
}

.v-navigation-drawer__content {
    // background-color: transparent !important;
    //    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 2px, transparent 2px, transparent 10px), linear-gradient(92deg, #ffffff 0%, #ffffff 100%);
}

nav.v-navigation-drawer {
    // background: linear-gradient(262deg, #ecf6ff3b 0%, #f7f7f7 100%);
    background: linear-gradient(262deg, #e0e0e03b, #ffffff);
}

.v-card,
.v-navigation-drawer--temporary.v-navigation-drawer--active {
    box-shadow: none !important;
}

main.v-main {
    background-color: #f8fcfe;
}

.v-list-subheader__text {
    font-size: small !important;

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.v-navigation-drawer #side-nav-items .v-list-item-title {
    font-size: 0.8rem !important;
    font-weight: 500 !important;
}

.v-slide-group__content {
    .v-btn--size-default {
        --v-btn-height: 36px;
    }

    .v-btn--size-default {
        --v-btn-size: 0.8rem
    }
}

.v-btn__content {
    text-transform: capitalize;
}