@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html,
body {
    height: 100%;
    font-family: 'DM Sans', 'Poppins', sans-serif !important;
    // font-family: 'Poppins', sans-serif !important;
}

body {
    margin: 0;
    background: #f5f6f8;
}

.text-body-2,
.text-body-1,
.text-subtitle-1,
.text-subtitle-2,
.text-caption,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
    font-family: 'DM Sans', 'Poppins', sans-serif !important;
}

.v-navigation-drawer {
    border-right: 0;

    #side-nav-items .v-list-item-title {
        font-size: 0.875rem !important;
        font-weight: 500 !important;
    }

    .v-list {
        padding: 0 10px;
    }

    .v-list-item__prepend {
        width: 40px;
    }
}

.v-navigation-drawer__content {
    background-color: transparent !important;
}

nav.v-navigation-drawer {
    background: linear-gradient(262deg, #ecf6ff3b 0%, #f7f7f7 100%);
}

.v-card,
.v-navigation-drawer--temporary.v-navigation-drawer--active {
    box-shadow: none !important;
}

main.v-main {
    background-color: #f8fcfe;
}