@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
}

body {
    margin: 0;
    background: #f5f6f8;
}

.text-body-2,
.text-body-1,
.text-caption,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
    font-family: 'Poppins', sans-serif !important;
}

.v-navigation-drawer {
    border-right: 0;

    .v-list {
        padding: 0 10px;
    }

    .v-list-item__prepend {
        width: 40px;
    }
}
.v-navigation-drawer__content {
    background: linear-gradient(90deg, #f5fbff 0%, #ffffff 100%);
}
.v-navigation-drawer--temporary.v-navigation-drawer--active {
    box-shadow: none !important;
}

.card-padding-5 {
    .vx-card__body {
        padding: 15px !important;
    }
}

.endless-rotation {
    -webkit-animation: rotating 0.7s linear infinite;
    -moz-animation: rotating 0.7s linear infinite;
    -ms-animation: rotating 0.7s linear infinite;
    -o-animation: rotating 0.7s linear infinite;
    animation: rotating 0.7s linear infinite;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.mt-100 {
    margin-top: 100px;
}

.vs-table--search {
    padding-top: 0 !important;

    .vs-table--search-input {
        padding: 0.9rem 2.5rem;
        font-size: 1rem;

        &+i {
            left: 1rem;
        }

        &:focus+i {
            left: 1rem;
        }
    }
}

#data-list-thumb-view {
    .vs-con-table {
        .vs-table--header {
            display: flex;
            flex-wrap: wrap-reverse;
            margin-left: 1.5rem;
            margin-right: 1.5rem;

            >span {
                display: flex;
                flex-grow: 1;
            }

            .vs-table--search {
                padding-top: 0 !important;

                .vs-table--search-input {
                    padding: 0.9rem 2.5rem;
                    font-size: 1rem;

                    &+i {
                        left: 1rem;
                    }

                    &:focus+i {
                        left: 1rem;
                    }
                }
            }
        }

        .vs-table {
            border-collapse: separate;
            border-spacing: 0 1.3rem;
            padding: 0 1rem;

            tr {
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

                td {
                    padding: 10px;

                    &:first-child {
                        border-top-left-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                    }

                    &:last-child {
                        border-top-right-radius: 0.5rem;
                        border-bottom-right-radius: 0.5rem;
                    }

                    &.img-container {
                        // width: 1rem;
                        // background: #fff;

                        span {
                            display: flex;
                            justify-content: flex-start;
                        }

                        .product-img {
                            height: 110px;
                        }
                    }
                }

                td.td-check {
                    padding: 20px !important;
                }
            }
        }

        .vs-table--thead {
            th {
                padding-top: 0;
                padding-bottom: 0;

                .vs-table-text {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            th.td-check {
                padding: 0 15px !important;
            }

            tr {
                background: none;
                box-shadow: none;
            }
        }

        .vs-table--pagination {
            justify-content: center;
        }
    }
}

.image-preview-container {
    background-color: #f6f6f6;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;

    img {
        max-height: 200px;
        max-width: 100%;
        margin: auto;
    }

    .image-remove--button {
        position: absolute;
        margin-top: -43px;
    }
}

.table--image {
    width: 150px;
}

.add-new-data-sidebar {
    .vs-sidebar--background {
        z-index: 52010;
    }

    .vs-sidebar {
        z-index: 52010;
        width: 400px;
        max-width: 90vw;

        .img-upload {
            margin-top: 2rem;

            .con-img-upload {
                padding: 0;
            }

            .con-input-upload {
                width: 100%;
                margin: 0;
            }
        }
    }
}

.text-strike {
    text-decoration: line-through;
}

.icon-large {
    font-size: 2rem !important;
}

.embed-responsive-item {
    width: 100%;
}

.h-200 {
    height: 200px;
}

.ql-container {
    min-height: 300px !important;
}

.popup-lg {
    .vs-popup {
        width: 800px !important;
    }
}

.popup-xl {
    .vs-popup {
        width: 1000px !important;
    }
}

.table--card {
    .vs-table--tbody-table {
        min-width: 200px !important;
    }

    .vs-con-tbody {
        background: transparent !important;
        border: none !important;
    }
}

//OVERRIDE FOR PAGINATION SSR
.vs-lg-6 {
    width: 100% !important;
}

//NESTABLE ITEMS
.nestable {
    position: relative;
}

.nestable-rtl {
    direction: rtl;
}

.nestable .nestable-list {
    margin: 0;
    padding: 0 0 0 40px;
    list-style-type: none;
}

.nestable-rtl .nestable-list {
    padding: 0 40px 0 0;
}

.nestable>.nestable-list {
    padding: 0;
}

.nestable-item,
.nestable-item-copy {
    margin: 10px 0 0;
}

.nestable-item:first-child,
.nestable-item-copy:first-child {
    margin-top: 0;
}

.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
    margin-top: 10px;
}

.nestable-item {
    position: relative;

    &.is-dragging {
        .nestable-list {
            pointer-events: none;
        }

        * {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        &:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(106, 127, 233, 0.274);
            border: 1px dashed rgb(73, 100, 241);
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
    }
}

.nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

.nestable-rtl .nestable-drag-layer {
    left: auto;
    right: 0;
}

.nestable-drag-layer>.nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(106, 127, 233, 0.274);
}

.nestable-rtl .nestable-drag-layer>.nestable-list {
    padding: 0;
}

.nestable [draggable="true"] {
    cursor: move;
}

.nestable-handle {
    display: inline-block;
    width: 100%;
}

.nestable-item-content {
    background: #f1f5f7;
    border: 1px solid #c5c5c5;
    padding: 8px 16px;
    height: auto;
    font-weight: 600;
    border-radius: 3px;
}

.nestable--handler-icon {
    font-size: 18px;
    float: left;
}

.dialog-md {
    .vs-popup {
        width: 900px !important;
    }
}

.router-link-active {
    .vs-icon {
        color: #ffffff !important;
    }
}

.vs-input--label {
    font-weight: bold;
}

.tree-box {
    background: #fff;
    position: relative;
    z-index: 9;

    .search-input {
        margin-top: 10px;
        width: 98%;
        display: block;
    }
}

.rmNode {
    background-color: rgba(var(--vs-danger), 0.15) !important;
    color: rgba(var(--vs-danger), 1) !important;
    line-height: 13px !important;
}

.ql-html-overlayContainer {
    z-index: 10000000 !important;
}

.con-vs-popup {
    z-index: 500000;
}
